.nav_link{
  color: #000;
}

#nav_link1{
   color: orange;

}













 /* ...........container1...........
 /////////////////////////////////
 ///////////////////////////////// */



 .container1{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width:100%;
  height:100%;

}

.container1img1{
top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  margin: 0;
}

@media (min-width:0px) and (max-width:800px)
{.container1img1{
display: none;}}


.container1img1 img{
  width: 100%;
  height: 100%;
 

}






  /* /////animation zoom///// */


.container1img1 {
  overflow: hidden;
}

.container1img1  img {
  animation: zoomInOut 20s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}





.container1img2{
top: 0;
width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  margin: 0;
  display: none;
}

@media (min-width:0px) and (max-width:800px)
{.container1img2{
display: block;}}


.container1img2 img{
  margin-right: 1px;
  width: 110%;
  height: 100%;
  overflow: hidden;
  

}

.container1img12  img {
  animation: zoomInOut 20s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}





.container1b{

height: 45vh;
}



.container1b  .box2 {
  width: 100%;
 display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.container1b  .box2 a{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.container1b  .box2 h1{
  margin-left: auto;
  margin-right: auto;
  font-size: 105px;
  color: #ffffff;
  letter-spacing: .2rem;
  font-family:sans-serif;



}


@media (min-width:380px) and (max-width:700px)
{.container1b  .box2 h1{
 font-size: 90px;
  
}}
@media (min-width:0px) and (max-width:380px)
{.container1b  .box2 h1{
 font-size: 17vw;
  
}}








.container1b .box2 .heading{
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin-top: px;

}


@media (min-width: 0px ) and (max-width:800px)
{.container1b .box2 .heading{
   font-size:7.5vw;
    
}}
 


.container1b .box2 .heading {
  content: attr(data-text);
 
  overflow: hidden;
  white-space: nowrap;
  animation: glow-animation .7s linear infinite;
}

@keyframes glow-animation {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
                 0 0 25px rgba(255, 255, 255, 0.3),
                 0 0 50px rgba(255, 255, 255, 0.2),
                 0 0 90px rgba(255, 255, 255, 0.1);
  }
  75% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  100% {
    text-shadow: none;
  }
}










.container1b .box2 .btn{
  z-index: 100;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    padding-left: 2%;
    padding-right: 2%;
    font-size:1.5vw ;
    font-weight: 600;
    margin-top: 20px;
  color: #000000;
    background-color:orange;
border:2px solid orange;
}

@media (min-width:700px) and (max-width:1000px)
{.container1b .box2 .btn{
   font-size: 2.5vw;   
}}


@media (min-width:0px) and (max-width:700px)
{.container1b .box2 .btn{
   font-size: 4.5vw;  
   margin-top: 10px;
}}


.container1b .box2 .btn:hover{
    background-color: #fff;
    transition: .2s linear;
    transform: translateY(-10px);
    
}






  /* ...........container2 ...........
 /////////////////////////////////
 ///////////////////////////////// */







.container2{
  width: 100%;
  background-color: white;
margin-top: -220px;
padding-top: 30px;
}



  /* ...........container2 box2 ...........
 /////////////////////////////////
 ///////////////////////////////// */




.container2 .box2{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 30px;
 
 }

 @media (min-width:0px) and (max-width:1000px)
{.container2 .box2 {
  padding-left: 0%;
  padding-right: 0%;
  justify-content: center;
  align-items: center;
}}



.container2 .box2 .sscreen{
 text-align: center;
  width: 90%;
  max-width: 330px;
  margin-bottom: 25px;
}

.container2 .container2text {

  font-weight: 500;
  letter-spacing: .05rem;
  font-size:25px;
  padding-left: 2%;

  justify-content: center;
  text-align: center;

  
  

    
}
@media (min-width:0px) and (max-width:500px)
{.container2 .container2text{
  font-size: 3.5vw;
  width: 100%;
  overflow: hidden;
  border-right: 3px solid #000; /* Replace #000 with your desired text color */
  white-space: nowrap;
text-align:center;
  animation: typing-animation 3.5s steps(60) infinite;
}

@keyframes typing-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}}





 .container2 .box2 .sideway{
margin: 10%;
  height: 120px;
width: 120px;
 }

 @media (min-width:0px) and (max-width:700px)
 {.container2 .box2 .sideway{
  display: none;
  
 }}
 

 .container2 .box2 .sideway img{
  width: 100%;
  height: 100%;

 }
 
 .container2 .box2 .middle{
  display: flex;
  justify-content: center;
  width: 35%;

  max-width:410px ;
  

 }
 .container2 .box2 .middle img{

  width: 100%;
  height: 100%;
 }


 @media (min-width:0px) and (max-width:600px)
 {.container2 .box2 .middle  {
 width: 100%;
 }}
 




  /* ...........container2b ...........
 /////////////////////////////////
 ///////////////////////////////// */







 .container2b{
  background-color: white;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

 }


 .container2b .heading{
font-size: 2vw;
color: #2b2b2b;
font-weight: 500;
 }


 @media (min-width:700px) and (max-width:1100px)
 {.container2b .heading {
 font-size: 3.5vw;
 }}

 @media (min-width:0px) and (max-width:700px)
 {.container2b .heading {
 font-size: 4.5vw;
 }}

 





 /* ...........container3 ...........
 /////////////////////////////////
 ///////////////////////////////// */






.containermenu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 100px 50px;
padding: 50px 20px;
}

.containermenu .card {
position: relative;
display: flex;
justify-content: center;
align-items: flex-start;
width: 370px;
max-width: 100%;
height: 330px;
background: orange;
/* border-radius: 20px; */
transition: 0.5s;
box-shadow: 0 5px 10px rgb(255, 166, 0, .7);
}

.containermenu .card:hover {
height: 400px;

}

.containermenu .card .img-box {
position: absolute;
top: 20px;
width: 300px;
height: 220px;
background: #333;
border-radius: 12px;
overflow: hidden;
transition: 0.5s;
}

.containermenu .card:hover .img-box {
top: -100px;
scale: 0.75;
box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.containermenu .card .img-box img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.containermenu .card .content {
position: absolute;
top: 252px;
width: 100%;
height: 35px;
padding: 0 30px;
text-align: center;
overflow: hidden;
transition: 0.5s;
}

.containermenu .card:hover .content {
top: 130px;
height: 250px;
}

.containermenu .card .content h2 {
font-size: 1.2rem;
font-weight: 500;
color: black;
}

.containermenu .card .content p {
color: #333;
display: flex;
text-align: justify;
font-size: 15px;
}

.containermenu .card .content a {
position: relative;
top: 15px;
display: inline-block;
padding: 12px 25px;
text-decoration: none;
background: black;
color: white;
font-weight: 500;
}

.containermenu .card .content a:hover {
opacity: 0.8;
}

@media (max-width: 480px) {

.containermenu{
gap: 50px 20px;
}


.containermenu .card {
  width: 280px;

}

.containermenu .card .img-box {
  width: 225px;
  border-radius: 10px;
}

.containermenu .card .content p {
  font-size: 0.8rem;
}

.containermenu .card .content a {
  font-size: 0.8rem;
  padding: 7px 12px;
}

.containermenu .card .content h2{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

}




  

 



   /* ...........container4 ...........
 /////////////////////////////////
 ///////////////////////////////// */




 
  .container4{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    color: rgb(3, 3, 3);
    background-color: rgb(255, 202, 111);
    padding: 8px;
    width: 100%;
    font-weight: 450
   ;
  }

 .container4 .heading{
    font-size: 25px;
  }

  @media (min-width:00px) and (max-width:500px)
{.container4 .heading{
   font-size:4.5vw; 
}}

   


    /* ...........container5 ...........
 /////////////////////////////////
 ///////////////////////////////// */



 .container5{
  background-color: #ffffff;  
padding-top: 20px;
  margin:auto;
  position: relative;
width: 100%;
  display: grid;
  place-items:center;
  overflow: hidden;


}


.container5 .slide-track{
  display: flex;
}



@keyframes scroll {
  0%{
      transform: translateX(0);
  }
  100%{
      transform:translateX(calc(-250px * 13));
  }
  
}




.container5 .slide{
  height: 250px;
  width: 440px;
  display: flex;
  align-items: center;
  margin: 20px;
}


@media (min-width:00px) and (max-width:700px)
{ .container5 .slide{
 height: 170px;
  width: 270px;
  margin-left: 10px;
  
  
 }}

  .container5 .slide:hover{
   width:550px;
   height: 300px;
   
  }
  @media (min-width:0px) and (max-width:700px)
  {.container5 .slide:hover{
    width: 310px;
    height: 200px;
 }}
   
   

.container5 .slideimg{
  width: 100%;

  height: 100%;
  animation: scroll 20s linear infinite;
 
}






   /* ...........container6 ...........
 /////////////////////////////////
 ///////////////////////////////// */










  .container6 h1{
padding-top: 40px;
    background-color: white;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    font-weight: 600;
    
  }
  @media (min-width:0px) and (max-width:700px)
{.container6 h1{
 font-weight: 500;
font-size: 27px;}}


  .container6 .cards{ 
    width: 100%;
    height: auto;
    display: flex;
    overflow: auto;
    padding-right: 70px;   
   
  }

  @media (min-width:0px) and (max-width:500px)
  {.container6 .cards {
   padding-right: 0px;}}



  
  .container6 .cards .card{
   min-width: 400px;
 background-color: rgb(255, 255, 255);
 border: 3px solid orange;
    height: 350px;
     margin-left: 70px;
margin-top: 30px;
margin-bottom: 5px;
   display: flex;
   flex-direction: column;
  
   
}

  @media (min-width:0px) and (max-width:500px)
{.container6 .cards .card{
   margin-left: 2.5%;
min-width:95%}}



.container6 .cards .card .cardin .comma{
  
  margin-top: -10px;
    margin-left: 10px;
    font-size: 80px;
     display:inline-block;
    width: 10%;
    height: 10px;
color: orange;

}

.container6 .cards .card .cardin .content{
  background-color: #ffffff;
    height: 220px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 7px;
    margin: 10px;
    margin-top: -50px;
    font-size: 25px;
padding: 1%;
    font-family: 'Sacramento', cursive;
    font-weight: 500;
    color: #0e32b1;
}
  
@media (min-width:0px) and (max-width:700px)
{.container6 .cards .card .cardin .content{
font-size: 20px;}}


.container6 .cards .card .cardin .bottombar{
   
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin: 0px;
    padding: 0px;
    float: left;

    
}

.container6 .cards .card .cardin .bottombar .img{
   
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    

  
    
    
}
.container6 .cards .card .cardin .bottombar .img img{
    max-width: 100%;
    max-height: 100%;
   margin-top: 0px;
   border-radius: 50%;
   margin-bottom: -40px;
  
   
    
}


.container6 .cards .card .cardin .name{
    align-items: center;
    display: flex;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: -20px;
    text-decoration: underline;
color: #424242;
}
.containerarrow{

  margin-left: auto;
  margin-right: auto;
 width: 100%;
 display: flex;
background: transparent;

}
.containerarrow img{
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  background-color: orange;
  border-radius: 50%;
  margin-bottom: 3px;


}





 /* ...........container7 ...........
 /////////////////////////////////
 ///////////////////////////////// */










/* /////////////////////ytv/////////
 */




 .container8s{
padding-top: 30px;
background-color: #fff;


 
}
.container8s h1{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  font-weight: 600;
  
}
@media (min-width:0px) and (max-width:700px)
{.container8s h1{
font-weight: 500;
font-size: 27px;}}


.container8s .cards{
  display: flex;
 overflow-x: scroll;
scroll-behavior:smooth;
 margin-right: 0px;
}



.container8s .cards .card{
  margin-left: 50px;
   margin-top: 10px;
 margin-bottom: 10px;
 
}

@media (min-width:0px) and (max-width:500px)
{.container8s .cards .card{
margin-left: 5.5%;
}}



.container8s .cards .card iframe{
  width:580px;
  height: 315px;

}

@media (min-width:0px) and (max-width:700px)
{.container8s .cards .card iframe{
  width:280px;
  height: 155px;

}}


.container8{
  width: 90%;
}

.container8 iframe{
  width: 100%;
}



/* ///////////////////orangebar////////
 */

 .orangebar {
  z-index: 10;
  margin-top: -80px;
background-color:orange;
height: 90px;

}


























/* //////// */









